.content {
    width: 100%;
}

.service-nav {
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
}

.service-nav__menu {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    height: 19px;
    width: 100%;
}

.service-nav__menu li:first-child {
    margin-left: 45px;
}

.service-nav__menu li {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}



.service-nav__menu li a{
    text-align: center;
    color: #3a88bf;
    text-decoration: underline;
    font-family: "Plumb Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    font-size: 14px;
}

@media screen and (max-width: 660px) {
    .service-nav__menu li:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 616px) {
    .service-nav__menu li {
        margin-left: 30px;
    }
}

@media screen and (max-width: 576px) {
    .service-nav__menu li {
        margin-left: 20px;
    }
}

@media screen and (max-width: 536px) {
    .service-nav__menu li {
        margin-left: 10px;
    }
}

@media screen and (max-width: 497px) {

    .service-nav__menu {
        height: 100%;
    }
    .service-nav__menu li {
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
        text-align: center;
    }
}


.service-list {
    margin-top: 40px;
}

.service-list__description {
    display: block;
    height: 36px;
    border-radius: 2px 2px 2px 0px;
    background-color: #3a88bf;
    line-height: 38px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: "Helvetica", sans-serif;
    margin-top: 40px;
}

.begin-work {
    width: 133px;
}

.bugaltery {
    width: 175px;
}

.conteragent {
    width: 181px;
}

.service-list__content {
    border-top: 2px solid #3a88bf;
}

.service-list__content-title {
    font-family: "Plumb Condensed", sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
    padding-left: 15px;
    text-align: center;
}

.service-list__content-description {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 15px;
    width: 100%;
    color: #505b61;
    line-height: 1.3em;
    padding-right: 15px;
}

.registration-box {
    margin-top: 20px;
}

.registration-block {
    width: 100%;
    text-align: center;
}

.registration-icon {
    margin-top: 30px;
}

.registration-title {
    padding-top: 20px;
    font-size: 22px;
    font-family: "Plumb Condensed", sans-serif;
    font-weight: bold;
}

.registration-description {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    color: #505b61;
    padding-top: 5px;
    line-height: 1.4em;
}

.go-link__go {
    display: block;
    margin-top: 10px;
    color: #3a88bf;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
}

.company-block {
    margin: 0 auto;
    margin-top: 20px;
    display: inline-block;
    width: 400px;
    text-align: center;
}


.company-name {
    font-family: "Plumb Condensed", sans-serif;
    font-size :22px;
    font-weight: bold;
}

.company-name__name {
    display: block;
    padding-top: 15px;
}

@media screen and (max-width: 810px) {
    .company-block {
        width: 300px;
    }
}


.demo {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
}

.demo__text {
    display: block;
    padding-top: 5px;
    color: #505b61;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
}

.compare-box {
    font-family: "Plumb Condensed", sans-serif;
}

.compare-box__link {
    display: block;
    font-size: 22px;
    color: #3a88bf;
}

.compare-service {
    padding-top: 10px;
}

.company-logo {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    margin-top: 31px;
}

.img-height {
    margin-top: 15px;
}


@media screen and (max-width: 610px) {
    .company-block {
        width: 200px;
        vertical-align: top;
        height: 200px;
    }
}

@media screen and (max-width: 414px) {
    .service-list__content-description {
        text-align: center;
    }

    .company-block {
        width: 150px;
        text-align: center;
        margin-left: 35px;
    }
    .adaptive-compare {
        display: block;
        width: 300px;
        margin: 0 auto;
        height: 100%;
    }
    .compare-box {
        width: 300px;
    }

    .block-1c {
        display: block;
        margin: 0 auto;
        width: 280px;
        height: 190px;
    }
}

@media screen and (max-width: 380px) {
    .company-block {
        margin-left: 23px;
    }

    .adaptive-compare {
        display: block;
        width: 330px;
        margin: 0 auto;
        height: 100%;
    }

    .compare-box {
        width: 330px;
    }

    .block-1c {
        display: block;
        width: 280px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 355px) {
    .company-block {
        margin-left: 10px;
    }

    .adaptive-compare {
        display: block;
        width: 315px;
        margin: 0 auto;
        height: 100%;
    }

    .compare-box {
        width: 100%;
    }

    .block-1c {
        display: block;
        width: 280px;
        margin: 0 auto;
    }

    .service-list__content-description {
        text-align: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 330px) {
    .company-block {
        margin-left: 0;
        width: 100%;
    }
}

.adaptive-compare {
    background: #f7f7f7;
}

