@import url("content.css");
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaRegular.ttf");
}

@font-face {
    font-family: "Plumb Condensed";
    src: url("../fonts/plumbcondensed-webfont.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.services-box {
    width: 100%;
    margin: 0 auto;
}